body {
    max-width: 1000px;
    margin-left: auto; margin-right: auto;
    padding: 20px; 
    background-color: rgb(215,215,215);
    font-family: Calibri;
}

h1 {
    padding: 10px;
    background-color: white;
    text-align: center;
}