body {
    max-width: 1000px;
    margin-left: auto; margin-right: auto;
    margin-top: 0;
    padding: 20px; 
    padding-top: 0px;
    background-color: rgb(215,215,215);
    font-family: Calibri;
}

.main {
    padding: 5px;

}

h1 {
    padding: 10px;
    background-color: white;
    text-align: center;
    border-radius: .7rem;
}

#web-link-ideal {
    padding: 10px; 
    background-color: white;
    border-radius: .7rem;
    display: inline-block;
    margin-block-start: 0;
}

#about-this {
    padding: 10px;
    background-color: white;
    border-radius: .7rem;
}


#notice-board {
    background-color: tomato;
    color: white;
    border-radius: .7rem;
    padding: 10px;
    display: inline-block;
}

#notice-board h3 {
    margin-block-start: 0;
}

#notice-board p {
    margin-block-end: 0;
}

#board-board:hover {
    transform: scale(1);
}
#notice-board #click-close {
    width: 25px;
    float: right;
    cursor: pointer;
}

#notice-board #click-close:hover { 
    opacity: 0.75;
}