/*
    Code CSS adds possible frames which can be code embeds using classes etc
*/

div.code {
    margin: 15px 0px;
    padding: 10px;
    background: rgb(35,35,35);
    font-family: monospace;
    font-size: 16px;
    color: white;
}

div.code .heading {
    display: block;
    padding: 10px;
}

.code .str { 
    color: grey;
}

.code .str::before { content: '"' }
.code .str::after { content: '"' }

.code .num {
    color: palegreen;
    font-weight: bold;
}

.code .comment {
    color: green;
}

.code .begin {
    color: royalblue;
    font-weight: bold;
}

.code .func {
    color: khaki
}

.code .state {
    color:rgb(165, 132, 255)
}

.code .comment::before { content: '// '}

.code div.indent {
    padding-left: 24px;
}