/* Drop Item */
[drop-item] { position: relative; cursor: default; display: inline-block; }
[drop-item="block"] { display: block; }
[drop-item="clickable"] { cursor: pointer; }

/* Dropper */
[dropper] {
    cursor: auto;
    display: none;
    position: absolute;
    max-width: 300px;
    max-height: 200px;
    min-width: 200px;
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    box-shadow: 0 3px 0.4rem rgba(0,0,0,0.15);
    z-index: +1;
}

/* Dropper Settings */
[dropper="disabled"] { opacity: 0.4 }
[dropper="no-bold"] { font-weight: normal; color: black }
[dropper="error"] { color: red; }
[dropper="info"] { color: royalblue; }
[dropper="code"] { font-family: 'Courier New', Courier, monospace; }
[dropper="em"] { font-style: italic; }
[dropper="underline"] { text-decoration: underline; }
[dropper="bold"] { font-weight: bold; }
[dropper="invisible"] { opacity: 0; }

/* Dropper Positions */
[dropper][right] { right: 0; }
[dropper][middle] { margin-left: -50%;}
/*[dropper][limitless] { min-width: none; } */
[limitless] { min-width: 0; margin-top: .5rem;}

/* Dropper Application */
[drop-item]:hover [dropper] { display: block; }
