/*
    This CSS style package gives you easy to understand class styles which can fit anykind of website
*/

/* ALL */
* { box-sizing: border-box; font-family: 'Rubik'; }

:root {
    --gridautowidth: calc(100%/3);
}

/* GRIDS */

div.ge-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, var(--gridautowidth)));
}