/* body and header */
html { background-color: rgb(40,40,40); }
* { box-sizing: border-box; }

body { 
    margin: 0; 
    min-width: 200px;
    overflow-x: hidden;
    font-family: Calibri;
    background-color: white;
}

header {
    position: sticky; top: 0;
    z-index: 101;
    user-select: none;
    background-color: rgb(245,245,245);
    height: 81px;
    transition: box-shadow 0.1s ease-in-out, background-color 0.25s ease-in-out;
    border-bottom: rgb(200,200,200) 1px solid;
}

header.scroll {
    box-shadow: 0 0 0.65rem rgba(0,0,0,.5);
    background-color: white;
    border-bottom: none;
}

/* header > container > ... */
header div.container {
    display: grid;
    grid-template-columns: 81px auto;
    max-width: 1200px;
    margin: 0 auto;
}

header .container > img { 
    width: 100%;
    padding: 10%;
}

header .container > nav {
    margin: auto 10px auto auto;
}

header .container > div.hamburger-container {
    display: none;
    margin: auto 25px auto auto;
}

header .container div.hamburger-container > img.hamburger {
    width: calc(81px / 2);
    background-color: white; border-radius: 5px; border: solid 1px lightgray;
    padding: 10%;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;
}

header .container div.hamburger-container img.hamburger:hover { box-shadow: 0 3px .3rem rgba(0,0,0,.25); }

/* header > container > navigation */
header .container nav a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    font-size: large;
    color: seagreen;
    transition: color 0.15s ease-in-out;
}


header .container nav a[active] { 
    font-weight: bold;
}

header .container nav a[disabled] {
    cursor: default;
    filter: grayscale(1); opacity: 0.5;
}

header .container nav a:hover {
    color: rgb(40,40,40);
}

header .container nav a[disabled]:active {
    animation: link-disabled 0.2s; animation-iteration-count: 3;
}

header .container nav a span {
    padding: 1px 7px;
    border-radius: 25px;
    margin-left: 5px;
    display: inline-block;
    color: white;
    background-color: seagreen;
    transition: background-color 0.15s ease-in-out;
}

header .container nav a:hover span {
    background-color: rgb(40,40,40);
}

header .container nav a img {
    width: 20px;
    margin: auto 0px;
    vertical-align: middle;
    opacity: 0.5;
    transform: translateY(-1px);
}

header .container nav a:hover img {
    opacity: 1;
}

/* header > container > navigation > dropdowns */

header .container nav div.dropdown {
    position: relative;
    display: inline-block;
}

header .container nav div.dropdown .dropdown-content {
    position: absolute;
    min-width: 180px;
    max-height: 250px; overflow-y: auto;
    right: 0;
    border: solid 1px lightgrey;
    background: white; box-shadow: 0 5px .75rem rgba(0,0,0,0.2);
    margin: auto 5px;

    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: transform .2s ease-in-out, opacity .15s ease-in-out;
}

header .container nav div.dropdown .dropdown-content[right] { right: 0; }
header .container nav div.dropdown .dropdown-content[left] { left: 0; }

header .container nav div.dropdown:hover .dropdown-content { transform: scaleY(1); opacity: 1; }
header .container nav div.dropdown:hover .dropdown-btn { color: rgb(40,40,40); opacity: 1; }
header .container nav .dropdown-content a { display: block; margin: 0; }
header .container nav .dropdown-content a:hover { background-color: rgb(235,235,235); }


/* body > footer */

footer { background: rgb(40,40,40); color: white; border-top: 0px solid seagreen }

footer .container {
    display: grid;
    grid-template-columns: calc(100% /3) calc(100% /3) calc(100% /3);
    max-width: 1200px;
    margin: 0 auto;
}

footer .container div.section { padding: 10px 0; }
footer .container div.box { padding: 10px; transition: background-color 0.15s ease-in-out; }
footer .container div.box:hover { background-color: rgb(30,30,30); }

footer .container div div.section a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

footer .container div div.section a:hover { text-decoration: underline; }

footer .container div p {
    color: gray;
    margin-block-end: 0;
    margin-block-start: 0;
}

/* body > page */

div.page { margin: 10px auto 0 auto; max-width: 1200px; }

/* page > content */
div.page div.split-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

div.split-section div { padding: 10px; }
div.dimmed-section {
    background-color: rgba(197,230, 212);
    border-bottom: solid 3px seagreen;
    margin: 1rem 0;
    padding: 10px
}

div.page div.section {
    padding: 10px;
} 

/* Text Properties */

.heading {
    font-size: large;
    font-weight: bold;
    color: seagreen;
}

.sub-heading {
    font-size: medium;
    color: black;
    font-weight: bold;
}

p.key {
    padding: 10px; background-color: rgb(221, 221, 221);
}

/* Animations */
@keyframes link-disabled {
    0% {transform: translateX(-3px);}
    50% {transform: translateX(+3px);}
    100% {transform: translateX(-3px);}
}

@keyframes wobble-nothing_found {
    0% { transform: translateX(0px) translateY(0px); }
    25% { transform: translateX(-5px) translateY(5px); }
    50% { transform: translateX(5px) translateY(-5px); }
    75% { transform: translateX(-5px) translateY(5px); }
    100% { transform: translateX(0px) translateY(0px); }
}

/* Mobile Menu */

div.mobile-menu {
    user-select: none;
    overflow-y: auto;
    padding: 10px 0;
    position: fixed;
    z-index: 100;
    width: 100%; max-width: 350px; right: 0;
    background: white;
    height: calc(100% - 81px);
    box-shadow: 0 0 5rem rgba(0,0,0,0);
    top: +81px;
    border-left: lightgray 1px solid;
    transform: translateX(100%);
    transition: transform .5s ease-in-out, box-shadow 0.5s ease-in-out;
}

div.mobile-menu.open {
    transform: translateX(0%);
    box-shadow: 0 0 5rem rgba(0,0,0,0.5);
}

div.mobile-menu :is(button, a, li) {
    display: block;
    color: seagreen;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

div.mobile-menu :is(button, a, li):hover { background: rgb(245,245,245); color: rgb(40,40,40); }
div.mobile-menu :is(button, a, li)[active] { font-weight: bold; }
div.mobile-menu :is(button, a, li, summary)[disabled] { cursor: default; filter: grayscale(1); }

div.mobile-menu :is(button, a, li) span {
    padding: 1px 7px; margin: 0 5px;
    border-radius: 25px;
    display: inline-block;
    color: white; background-color: seagreen;
}

div.mobile-menu :is(button, a, li):hover span { background-color: rgb(40,40,40); }
div.mobile-menu hr { margin: 10px 25px; color: white; }
div.mobile-menu :is(em, i) { display: block; font-style: italic; text-align: center; color: gray; }
div.mobile-menu em { padding: 5px; margin: 10px; background: rgb(235,235,235); }
div.mobile-menu i { margin: 10px; }
div.mobile-menu i a { display: inline; padding: 0; }

div.mobile-menu details.button summary {
    display: block;
    color: seagreen;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

div.mobile-menu details.button div { opacity: 0; transition: opacity 0.5s ease-in-out; }
div.mobile-menu details.button summary:hover { background: rgb(245,245,245); color: rgb(40,40,40); }
div.mobile-menu details.button[open] summary {background: seagreen; color: white; filter: grayscale(0) }
div.mobile-menu details.button[open] div { opacity: 1; }

div.mobile-menu div.grid-locked {
    display: grid; grid-template-areas: 'a b c';
}

div.mobile-menu div.grid-locked a {color: royalblue;}
div.mobile-menu div.grid-locked a:hover { font-weight: bold; }
div.mobile-menu div.grid-locked a:active { background: rgb(230, 230, 230); }

div.mobile-menu div.grid-locked a img {
    width: 100%;
    max-width: 50px;
    margin: auto;
}

/* Expanded Nav */

div.expanded-nav {
    position: fixed;
    height: calc(100% - 81px); max-height: 61px;
    overflow-y: auto;
    background: white;
    z-index: 100;
    top: +81px;
    border-bottom: lightgray solid 1px;
    width: 100%;
    display: none;
    box-shadow: 0 0 0.65rem rgba(0,0,0,.5);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

div.expanded-nav.scroll {
    transform: translateY(-100%);
    box-shadow: 0 0 0rem rgba(0,0,0,0);
}

div.expanded-nav div {
    width: 100%; max-width: 1200px;
    margin: 0 auto; padding: 0 25px; height: 60px;
}

div.expanded-nav div a.link {
    float: right;
    margin: 0 5px;
    position: relative; top: 50%; transform: translateY(-50%);
    height: 50px;
    padding: 2.5px;
    cursor: pointer;
    border-radius: 5px;
}

div.expanded-nav div a.link:hover { background: rgb(235,235,235); }
div.expanded-nav div img { max-width: 45px; }
div.expanded-nav div i a { color: seagreen; text-decoration: none; }

div.expanded-nav div i {
    position: relative; top: 50%; transform: translateY(-50%);
    color: gray;
    display: inline-block;
}

/* Tables */

table.default-table, table.plan-table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

.default-table td, .default-table th {
    padding: 8px;
    border: 1px solid seagreen;
    border-top: none;
}

.default-table th {
    text-align: left;
    background-color: seagreen;
    color: white;
}

.default-table tr {background-color: #f2f2f2; }

.plan-table td, .plan-table th { padding: 8px; border: 1px solid lightgrey; }
.plan-table th { text-align: left; }
.plan-table td[price] { color: seagreen; font-weight: bold; }
.plan-table td[price="un-available"] { color: grey; }
.plan-table tr:nth-child(2n) {background-color: #f2f2f2; }
.plan-table tr { transition: background-color 0.075s ease-in-out;}
.plan-table tr:hover { background-color: rgba(46, 139, 87, 0.15) ;}


/* div under construction */

div.under-construction { background-color: seagreen; color: white; position: sticky; bottom: 0; }
div.under-construction div { padding: 5px 10px; max-width: 1200px; margin: 0 auto; }
div.under-construction :is(img, span) { vertical-align: middle; }
div.under-construction img { height: 30px; margin-right: 10px; }

/* ID'd elements (unique stuff) */

#nothing_found { 
    width: 100%; max-width: 75px; margin: 0 auto; display: block; 
    animation: wobble-nothing_found 5s infinite ease-in-out;
}
#page_not_found { grid-template-columns: 75px auto; }
#page_not_found a { color: seagreen; display: inline-block; }
#page_not_found div b { font-size: x-large; }
#page_not_found div b span { color: seagreen; }

/* Other */

img.wave-img { 
    transform: translateY(5px);
    opacity: 0.5;
    width: 100%;
}

/* Responsive Web Designing */

@media only screen and (max-width: 690px) {
    header .container > nav {
        display: none;
    }
    div.page > div.split-section {
        display: block;
    }
    header .container > div.hamburger-container {
        display: block;
    }
}

@media (max-width: 400px) {
    footer .container { display: block; }
}

@media (max-height: 300px) { 
    header .container nav div.dropdown .dropdown-content {  max-height: 110px; }
    header .container nav div.dropdown:hover {  z-index: +10; }
}

@media (max-height: 150px) { 
    header .container nav div.dropdown .dropdown-content { top: -10px; }
}

/*
    FROM HERE IT IS PAGE SPECIFIC 

    Includes: News Page, Website Viewer and more!

*/

/* News */

div.page.news-container {
    display: grid;
    grid-template-columns: auto 300px;
}

div.page.news-container .main { padding: 10px;}
div.page.news-container aside { padding: 10px;}

.news-container aside :is(a, button) {
    display: block; cursor: pointer; border: solid 1px seagreen;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(235,235,235); border-radius: 7.5px;
}

.news-container aside :is(a, button):hover {
    color: white; background-color: seagreen;
}

details.news-blog[open] summary img { transform: rotate(180deg); }

details.news-blog summary { 
    border: rgb(235,235,235) 1px solid;
    user-select: none;
    display: grid;
    grid-template-columns: auto 50px;
    height: 50px;
    background: rgb(245,245,245);
}

details.news-blog summary:hover { cursor: pointer; background-color: rgb(235,235,235);} 

details.news-blog summary div {
    padding: 10px 25px;
    margin: auto 0;
    display: block;
}

details.news-blog summary img {
    width: 100%;
    padding: 15px; background-color: seagreen;
}

@media (max-width: 900px) {
    div.page.news-container { grid-template-columns: auto 200px; }
}

@media (max-width: 600px) {
    div.page.news-container { display: block; }
    .news-container aside :is(a, button) { display: inline-block; }
}

@media (max-width: 400px) {
    .news-container aside :is(a, button) { display: block; text-align: center; }
}