/* Main */

html {background-color: rgb(28,28,28); color: white;}

/* Scrollbar */
::-webkit-scrollbar {background-color: rgb(28,28,28); width: 10px; padding-right: 20px;}
::-webkit-scrollbar-thumb {background-color: rgb(50,50,50); }
::-webkit-scrollbar-thumb:hover {background-color: rgb(70,70,70); }

body {
    margin: 0;
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    height: auto; background: rgb(40,40,40);
    min-height: 100px;
    margin: 0 auto;
    border-bottom: green solid;
    border-bottom-width: 1px;
    box-shadow: 0 0 1rem black;
}

header img {
    position: relative;
    height: 80px;
    top: 7px; left: 20px;
    border-radius: 90px;
    border: green solid 2px;
}

/* Page */

.page {
    margin: 0 auto;
    margin-top: 10px;
    background: rgb(40,40,40);
    color: white;
    border-top: green solid 1px;
    box-shadow: 0 0 1rem black;
}

.page h1 {
    padding: 10px;
    padding-bottom: 0;
    margin-block-start: 0; margin-block-end: 0;
}

/** NEW **\

/* Sections */
.section-top {
    text-align: center;
    padding: 10px; padding-right: 5%; padding-left: 5%;
}
.section-top p { 
    padding: 10px; 
    padding-left: 5%; padding-right: 5%; 
    margin-block-end: 0; margin-block-start: 0; 
}
.section-footer-bottom { 
    text-align: center; font-style: italic; 
    background-color: rgb(55,55,55);
    padding: 10px;
    margin-block-end: 0; margin-block-start: 0;
}

/* Menu DropDown Button */
#menudropdownbtn {
    position: relative;
    filter: invert() opacity(0.5);
    border: none; left: 25px; top: -10px;
    height: 40px; cursor: pointer;
    transition: filter ease-in-out 0.15s;
}
#menudropdownbtn:hover { filter: invert() opacity(1); }

/* Section Page */
.section-page-content-grid {
    padding: 10px;
    background-color: rgb(70,70,70);
    grid-template-areas: 
    "a b"
    "c c"
    "d d"
    ;
    grid-template-columns: 50% auto;
    display: grid;
}
.section-in-content {
    background: rgb(50,50,50);
    padding: 15px;
    margin-left: 7.5px; margin-right: 7.5px;
    height: auto;
}
.section-in-content-grid3 {     
    grid-template-areas: 
    "a b c"
    ;
    display: grid; 
}
.in-content-grid-3-content { background-color: rgb(70,70,70); margin: 7.5px; padding: 7.5px; transition: 0.25s box-shadow ease-in-out;}
.in-content-grid-3-content:hover { box-shadow: 0 0 1rem rgba(0,0,0,0.5); cursor: pointer;}
.in-content-grid-3-content img { filter: invert(); width: 100%;} 
#SICGrid3-left { grid-area: a; } #SICGrid3-middle { grid-area: b; } #SICGrid3-right { grid-area: c; }

/* Grids */
#a-left { grid-area: a; }
#b-right { grid-area: b; }
#c-bottom { grid-area: c; margin-top: 7.5px;}
#d-bottom { grid-area: d; margin-top: 7.5px;}

/* Misc */
.u { text-decoration: underline;}
.section-in-content span { font-weight: 600;} 
.L1 { outline: white; background: white; }
.clickable { cursor:  pointer;}

/* Image GridIcon */
.gridIcon {width: 50px; float: right; filter: invert()}

/* Menu DropDown */
.menuDropdown {
    min-width: 120px;
    position: absolute;
    margin-left: 110px;
    top: 75px;
    background: rgba(25,25,25, 0.5);
    padding: 10px;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    border: green solid 1px;
    overflow-x: hidden; overflow: hidden;
    opacity: 0;
    max-height: 0px;
    transition: opacity 0.25s ease-in-out, max-height .5s ease-in-out ;
}

.menuDropdown a { color: rgb(200,200,200); text-decoration: none; transition: color 0.25s ease-in-out; font-size: 1.1rem; }
.menuDropdown a:hover  { color: rgb(255,255,255); text-decoration: none;}
.menuDropdown a.active { font-weight: 600; color: rgb(0, 168, 0) }

/* MISC - LINKS */
.a-link-website { color: rgb(130,130,130); transition: color 0.5s ease-in-out; }
.website-list-item { margin-bottom: 10px; display: inline-block; transition: padding-left .5s ease-in-out; }
.website-list-item:hover { padding-left: 7.5px }
.website-list-item:hover .next-style-number { color: rgb(0, 168, 0); border: solid rgb(0,168,0) 1px;}
.website-list-item:hover .a-link-website { color: rgb(200,200,200); }

.next-style-number {
    padding: 2.5px; padding-right: 7.5px; padding-left: 7.5px;
    background-color: rgb(40,40,40);
    margin-right: 10px;
    border: solid rgb(200,200,200) 1px;
    color: rgb(200,200,200);
    border-radius: 25%; cursor: default;
    transition: all 0.5s ease-in-out;
}

/* Image List */

.image-list {
    columns: 4;
    margin: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.image-label {
    width: 100%; aspect-ratio: 1/1;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgb(50,50,50);
}
.image-label img { width: 100%; height: 100%; transition: ease-in-out 0.2s all;}

.image-label:hover img {
    transform: scale(1.2);
}

.image-label div {
    position: relative;
    display: block;
    bottom: 0;
    z-index: 3;
    background: rgba(30,30,30,1);
    text-align: center;
    width: 100%;
    padding: 5px;
}

 /* Media Queries */
@media only screen and (max-width: 40rem) {
    .section-page-content-grid { display: block;}
    .section-in-content { margin: 7.5px;}

    .menuDropdown { top: 6px; margin-left: 155px;}
    .page h1 { font-size: x-large; }

    #pricing-more-btn { bottom: 1rem; }
}

@media (max-width: 300px) {.menuDropdown { top: 6px; margin-left: 155px; min-width: 0px;} }
@media (max-width: 250px) {.menuDropdown { top: 75px; margin-left: 110px;} }

/* JS BUTTONS */
#list-more-btn { transition: all 0.4s ease-in-out; user-select: none;}
#list-more-btn:hover { color: rgb(0, 168, 0); filter: drop-shadow(0 0 .5rem rgb(20,20,20))}
#pricing-more-btn { transition: all 0.4s ease-in-out; user-select: none; float: right; position: relative;}
#pricing-more-btn:hover { color: rgb(0, 168, 0); filter: drop-shadow(0 0 .5rem rgb(20,20,20))}