/* IMAGEIX */
body.imageix {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Rubik';
    overflow-x: hidden;
}

/* header */
body.imageix header {
    position: sticky; top: 0;
    display: flex;
    padding: 0.4em;
    flex-direction: row;
    background-color: white;
    z-index: 99;
    justify-content: center;
}

body.imageix header * { margin: 0.25em; }

body.imageix header label {
    padding: 0.6em;
}

body.imageix header input {
    font-size: medium;
    font-family: 'Rubik';
    padding: 0.6em;
    border-top: none; border-bottom: none;
    border-right: rgba(0,0,0, 0.125) 1px solid; border-left: rgba(0,0,0, 0.125) 1px solid;
    width: 100%;
    max-width: 500px;
    display: inline;
}

body.imageix header input::placeholder {
    color:rgba(0,0,0, 0.5)
}

body.imageix header button {
    font-family: 'Rubik';
    outline: none; border: none;
    font-weight: normal;
    font-size: medium;
    color: white;
    padding: 0.3em 3em;
    justify-self: end;
    background-color: #375306;
}

body.imageix header button:hover {
    background-color: black;
    cursor: pointer;
}

/* footer */
body.imageix footer {
    position: sticky; bottom: 0;
    background-color: white;
    padding: 0.5em;
    border-top: rgba(0,0,0, 0.125) 1px solid;
    margin-top: auto;
}

/* output */
body.imageix div.output-imgx {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

body.imageix div.output-imgx img {
    float: left;
    display: inline;
    overflow: hidden;
    width: 100%;
    margin: 0; padding: 0;
    transition: filter 0.2s ease-in-out;
}

body.imageix div.output-imgx img::after {
    content: ""; clear: both; display: table;
}

body.imageix div.output-imgx img:hover {
    filter: brightness(0.8);
} 

/* OTHER */
a.link:hover { text-decoration: underline; }

a.link {
    color: #375306;
    text-decoration: none;
}

/* Span, i, h1, h2, h3, h4, p Stuff */
:is(span, i, h1, h2, h3, h4, p).light {
    font-weight: lighter;
}

:is(span, i, h1, h2, h3, h4, p).small {
    font-size: smaller;
}