/* OTHER */
a.link:hover { text-decoration: underline; }

a.link {
    color: #375306;
    text-decoration: none;
}

/* Span, i, h1, h2, h3, h4, p Stuff */
:is(span, i, h1, h2, h3, h4, p).light {
    font-weight: lighter;
}

:is(span, i, h1, h2, h3, h4, p).small {
    font-size: smaller;
}