/* Main */
* { box-sizing: border-box; user-select: none; cursor: default; }

body { 
    background-image: url('../img/svg/background1.svg');
    background-attachment: fixed;
    margin: 0; 
    font-family: 'Rubik';
    display: grid;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

body div.info {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    max-width: 800px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
    color: rgb(40,40,40)
}

body div.info img {
    width: 50px;
    margin: auto;
    margin-bottom: 25px;
}

body b {
    margin-bottom: 10px;
}

.background {
    position: fixed;
    bottom: 0; left: 0;
    z-index: -10;
    filter: brightness(4.5);
}