/* Main */
* { box-sizing: border-box; }

body { 
    margin: 0;  min-width: 500px;
    background-color: rgb(24,24,24);
    color: white;
    font-family: Calibri; overflow-x: hidden;
}

/* Header */
header {
    height: 50px;
    background-color: rgba(24,24,24,0.9);
    padding: 0px 25px; position: sticky; top: 0; z-index: 100;
}

header > div.container {
    display: grid; height: 100%;
    grid-template-columns: 50px auto auto;
}

header div.container nav { margin: auto 0 auto 0; }
header div.container nav a {
    display: inline-block; 
    font-size: large; font-family: 'Roboto Condensed', sans-serif; 
}

header div.container img { 
    max-width: 100%; vertical-align: middle; padding: 15%;
    animation: turning 4s infinite; animation-timing-function: linear;
 }

header div.container nav.navigation { margin: auto 0px auto auto }
header nav.navigation a { text-decoration: none; color: white; padding: 5px; margin: 0 5px; }
header nav.navigation a:hover { color: #87cc0f; cursor: pointer; }

/* Content */
div.details { padding: 0 20%; }

div.details.grey {
    background-color: #353535;
    text-align: end;
}

div.details.upper { margin-top: 1rem; }

div.notice {
    padding: 10px; background-color: black; color: white;
    text-align: center;
}

/* Settings */
img[offset] { transform: translateY(5px);} 
a[active] { background-color: black; border: solid 1px #87cc0f }

/* Text Designs */
h1 { margin-block-start: 0; }
p { margin-block-end: 0;}
h1.design { border-bottom: 4px solid #87cc0f; display: inline-block; padding: 0 5px }

/* Projects */
div.project-container {
    display: inline-block;
    max-width: 400px; max-height: 400px;
    overflow-y: auto; overflow-x: hidden;
    background: black; border: solid rgb(48,48,48) 1px;
    margin: 0 10px 10px 0px;
}

div.project-container:hover { cursor: pointer;}

div.project-container .main {
    display: grid; grid-template-columns: 50px auto;
    color: white; text-decoration: none;
}
div.project-container .main:hover { color: #87cc0f }

div.project-container .main img { width: 100%; padding: 10%; }
div.project-container .main p { padding: 0 10px; }

/* Gaming */

div.gaming-header {
    background: white;
    padding: 50px;
    letter-spacing: 3px; 
    color: black;
    font-size: xx-large;
    background: linear-gradient(to left, rgba(0,0,0,0) 20%, rgba(255,255,255,1)), url(https://muckydriver.net/images/videoThumbnail.JPG);
    background-position: center right; background-size: 100%; background-repeat: no-repeat;
    border-top: solid 2px #87cc0f;
    font-family: 'Gemunu Libre', sans-serif;
}

div.gaming-container {
    padding: 20px;
}

div.gaming-container a {
    padding: 15px 10px;
    border-radius: 7.5px;
    box-shadow: black 0 0 1rem;
    background-color: rgb(72,72,72);
}

/* Animations */
@keyframes turning {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* Responsive Web Designing */
@media (max-width: 500px) {
    div.details { padding: 0 10%; }
}

@media (max-width: 1000px) {
    div.project-container { display: block; max-width: none; }
    div.project-container .main p { text-align: end; }
}