/* rblx | index.html */
body.index {
    margin: 0;
    font-family: 'Source Code Pro'; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body.index img {
    vertical-align: middle;
    width: 25px;
    position: relative;
    top: -2px;
    margin-right: 10px;
    transition: filter ease-in-out 0.2s;
}

body.index span {
    display: block;
    padding: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}