* { box-sizing: border-box; }
body { margin: 0; background-color: rgb(15, 15, 15); }

/* Game loader */
div.game_loader {
    display: none; /* flex */
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(6px);
}

div.game_loader span.games_loading {
    font-family: 'Rubik'; 
    display: block;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba(50, 50, 50);
}

div.game_loader span.games_loading img {
    vertical-align: middle;
    width: 40px;
    position: relative;
    top: -2px;
    margin-right: 10px;
    transition: filter ease-in-out 0.2s;
}

/* Header */
header {
    max-width: 1200px;
    margin: auto;
}

header.content_header {
    position: sticky; top: 0;
    display: grid;
    grid-template-columns: 50px auto;
    padding: 10px 25px;
    background-color: rgba(15, 15, 15, 0.5);
    backdrop-filter: blur(8px);
}

header.content_header div.logo_area {
    height: 50px;
}

header.content_header div.logo_area img {
    width: 50px; padding: 5px;
}

header.content_header div.logo_area:hover img {
    animation: infinite 2s rotateIconOnHover;
}

header.content_header div.menu_area {
    margin: auto 0px auto auto;
    font-family: 'Rubik';
}

header.content_header div.menu_area a {
    display: inline-block;
    padding: 8px; margin: 5px;
    text-decoration: none;
    color: white;
}

header.content_header div.menu_area a.active {
    color: #87cc0f;
}

header.content_header div.menu_area a:hover {
    opacity: 0.8;
}

@keyframes rotateIconOnHover {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Header > Content + a > Icons on hover? */

header.content_header div.menu_area a img {
    width: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

header.content_header div.menu_area a span {
    vertical-align: middle;
}

@media (max-width: 600px) {
    header.content_header div.menu_area a span {
        display: none;
    }
}

/* Content Page */
div.content_page {
    max-width: 1200px;
    margin: auto;
    font-family: 'Rubik';
}

div.content_page div.content {
    display: none;
    padding: 10px 25px;
}

/* Content Headers */
div.content_page div.super-header {
    padding: 10px; margin-top: 10px;
    display: block;
    border-bottom: #87cc0f solid 2px;
    background-color: rgba(255,255,255, 0.1);
}

div.content_page div.super-header p { 
    font-weight: lighter;
}

div.content_page div.super-header :is(h2, p) {
    margin-block-end: 0.333em; margin-block-start: 0;
}

/* Content > Games */
div.content_page div.games div.games_grid {
    margin-top: 10px; padding: 10px 0px;
    display: grid;
    grid-template-columns: calc(100%/3 - 15px) calc(100%/3 - 15px) calc(100%/3 - 15px);
    gap: 20px;
}

@media (max-width: 800px) {
    div.content_page div.games div.games_grid {
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }
}

@media (max-width: 650px) {
    div.content_page div.games div.games_grid {
        grid-template-columns: 100%;
    }
}

/* Content > Games > Game */
div.content_page div.games div.games_grid div.game {
    padding: 20px;
    background-color: rgba(255,255,255, 0.05);
    border: rgba(255,255,255, 0.1) solid 1px;
}

div.content_page div.games div.games_grid div.game div.play {
    display: block;
    padding: 12.5px;
    text-align: center;
    background-color: #87cc0f;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

div.content_page div.games div.games_grid div.game div.play:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}

div.content_page div.games div.games_grid div.game div.about {
    line-height: 1.5em;
    font-weight: lighter;
    margin-bottom: 25px;
}

div.content_page div.games div.games_grid div.game div.about span {
    display: block;
}

div.content_page div.games div.games_grid div.game div.about span.heading {
    font-size: 125%;
    margin-bottom: 15px;
    font-weight: normal;
}

div.content_page div.games div.games_grid div.game div.about span.heading img {
    width: 32px; margin-right: 8px; margin-bottom: 5px;
    vertical-align: middle;
    border-radius: 50%;
}

div.content_page div.games div.games_grid div.game div.about img.thumbnail {
    width: 100%;
    margin-bottom: 10px;
}

/* Game Viewer */
div.content_page div.game_viewer {
    display: none;
    position: fixed; z-index: 500;
    left: 50%; transform: translateX(-50%);
    width: calc(100% - 50px); max-width: 1200px;
}

div.game_viewer div.viewer {
    overflow-y: auto; overflow-x: hidden;
    border: rgba(255,255,255, 0.1) solid 1px;
    background-color: rgb(15, 15, 15);
    width: 100%; height: calc(100vh - 100px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

div.game_viewer div.viewer .thumbnail {
    display: block; overflow: hidden;
    background-image: url('../img/games_loader.gif');
    background-position: center;
    background-size: 50px;
    background-color: rgb(45, 45, 45);
    background-repeat: no-repeat;
    height: 200px;
}

div.game_viewer div.viewer #close_viewer {
    position: absolute; z-index: 6;
    right: 0; top: 0;
    padding: 5px; height: 45px;
    background-color: rgba(15, 15, 15, 0.5);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

div.game_viewer div.viewer #close_viewer:hover {
    background-color: rgba(15, 15, 15, 1)
}

div.game_viewer div.viewer #close_viewer img {
    width: 35px;
}

div.game_viewer div.viewer div.viewer_details {
    padding: 25px;
}

div.game_viewer div.viewer div.viewer_details #title {
    color: #87cc0f; margin-bottom: 8px; font-size: 120%;
    display: block;
}

div.game_viewer div.viewer div.viewer_details #description {
    font-weight: lighter; 
    display: block; margin-bottom: 24px;
}

/* Game Viewer > Panels */
div.game_viewer div.viewer div.viewer_details .panel {
    display: grid;
    width: 100%; padding: 10px; margin-bottom: 10px;
    background-color: rgba(255,255,255, 0.1);
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}

@media (max-width: 500px) {
    div.game_viewer div.viewer div.viewer_details .panel {
        grid-template-columns: auto;
    }
}

div.game_viewer div.viewer div.viewer_details .panel div {
    padding: 5px; overflow: hidden;
    white-space: nowrap; text-overflow: "...";
}

div.game_viewer div.viewer div.viewer_details .panel div img {
    width: 36px; margin-right: 8px; vertical-align: middle;
    padding: 5px; top: -1px; position: relative;
}

div.game_viewer div.viewer div.viewer_details .panel div span {
    vertical-align: middle;
}

div.game_viewer div.viewer div.viewer_details .lastUpdated {
    display: block; color:rgb(100, 100, 100);
    text-align: end; padding: 5px;
}